# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Protect config
<Files "config.json">
Order Allow,Deny
Deny from all
</Files>

# Disable directory browsing
Options All -Indexes


<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

############################################
## never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## rewrite everything else to index.php

    RewriteRule .* index.php [L]

</IfModule>
